<footer class="footer">
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="footer-information">
          <a href="/"><img src="img/logo/logo.png" alt="logo"></a>
          <p><i class="fas fa-envelope"></i>support@nebula.com</p>
          <p><i class="fas fa-phone-alt"></i>(+1) 234 456 7891</p>
          <p><i class="fas fa-home"></i>Level 13, 2 Elizabeth St, Melbourne, 
              Victoria 3000, Australia.</p>
        </div>
          
      </div>
      <div class="col-md-2">
        <div class="footer-use-link footer-location">
          <p><strong>ĐỊA ĐIỂM</strong></p>
          <p><a href="">Phan Thiết</a></p>
          <p><a href="">Nha Trang</a></p>
          <p><a href="">Đà Nẵng</a></p>
          <p><a href="">Huế</a></p>
          <p><a href="">Quy Nhơn</a></p>
          <p><a href="">Phú Quốc</a></p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-use-link ">
          <p><strong>THÔNG TIN</strong></p>
          <p><a href="">Ý tưởng du lịch</a></p>
          <p><a href="">Câu chuyện du lịch</a></p>
          <p><a href="">Kinh nghiệm du lịch</a></p>
          <p><a href="">Chính sách bảo mật</a></p>
          <p><a href="">Chính sách riêng tư</a></p>
          <p><a href="">Phiếu góp ý</a></p>
        </div>
      </div>
      <div class="col-md-3" >
          <p class="footer-txt-ins"><strong>INSTAGRAM</strong></p>
          <div class="row footer-images">
              <img class="col-md-4" src="img/footer/01.jpg">
              <img class="col-md-4" src="img/footer/02.jpg">
              <img class="col-md-4" src="img/footer/03.jpg">
          </div>
          <div class="row footer-images">
            <img class="col-md-4" src="img/footer/04.jpg">
            <img class="col-md-4" src="img/footer/05.jpg">
            <img class="col-md-4" src="img/footer/06.jpg">
        </div>
      </div>
    </div>
  </section>
  <div><hr></div>
  <section class="container">
    <div class="row">
      <div class="col-md-6"><p class="footer-copyright">Copyright © 2019 <strong>Nebula</strong>. All rights reserved. Desgined by <strong>Nebula</strong>.</p></div>
      <span class="col-md-6 footer-icon-bottom">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-square" style="color: #2a5297;"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter-square" style="color: #1bb2e9;"></i></a>
          <a href="https://www.snapchat.com/"><i class="fab fa-snapchat-square" style="color: #ffeb3b;"></i></a>
          <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square" style="color: #ed2d34;"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram-square" style="color: #5d56c8;"></i></a>
      </span>
    </div>
  </section>
</footer>