<header class="header fixed-top" id="header">
  <section class="container">
    <nav class="navbar navbar-expand-md navbar-light sticky-top" id="navbar">
      <a class="navbar-brand" href="/">
        <img src="img/logo/logo.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav navbar-center nav-text ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">TRANG CHỦ</a></li>
          <li class="nav-item"><a class="nav-link" href="#">TIN TỨC</a></li>
          <li class="nav-item"><a class="nav-link" href="#">LIÊN HỆ</a></li>
          <li class="nav-item"><a class="nav-link" href="/auth/opinion">TRẢI NGHIỆM</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-icon ml-auto">
          <li>
            <div class="header-search-box">
              <input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" placeholder="Tìm kiếm" />
              <a class=""><i class="fas fa-search"></i></a>
            </div>
          </li>
          <li class="icon-login"><a class="nav-link" href="/login"><i class="fas fa-user"></i></a></li>
        </ul>
      </div>
    </nav>
  </section>
</header>
