<section class="container">
  <div class="admin">
    <div class="admin-box">
      <h5>QUẢN LÝ</h5>
      <div><a href="/add-products"><button class="admin-btn">THÊM BÀI VIẾT</button></a></div>
      <div><a href="/all-products"><button class="admin-btn">SỬA BÀI VIẾT</button></a></div>
      <div><a href="/all-products"><button class="admin-btn">XÓA BÀI VIẾT</button></a></div>
    </div>
  </div>
</section>