.pageitem {
  padding-top: 100px;
  // &-details {
  //   text-align: center;
  //   p {
  //     text-align: left;
  //     color: red;
  //   }
  // }
  &-img {
    display: contents;
    img {
      max-width: 400px;
      min-width: 400px;
      min-height: 400px;
      max-height: 400px;
      border-radius: 50%;
    }
  }
}